@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

* {
    font-family: Roboto,sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    -webkit-font-smoothing: subpixel-antialiased!important;
    -moz-osx-font-smoothing: grayscale!important;
}

a {
    text-decoration: none;
}

body {
    background: #080808;
    color: #fff;
}

body, html {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    display: block;
    margin: 8px;
}

:root {
    --time_container_background: #9ea0a1;
    --accent-color-darker: #bd3851;
    --accent-color: #ff4a6a;
}

::selection {
    background-color: var(--accent-color);
    color: white;
}

::selection {
    background-color: var(--accent-color);
    color: white;
}

a::selection {
    background-color: var(--accent-color-darker);
    color: white;
}

::-webkit-scrollbar {
    width: 7px;
    border-radius: 5px;
    background: hsla(0, 0%, 100%, 0);
}

::-webkit-scrollbar-thumb  {
    width: 7px;
    border-radius: 5px;
    background: hsla(0,0%,100%,.15);
}

svg:root {
    width: 100%;
    height: 100%;
}

:not(svg) {
    transform-origin: 0px 0px;
}

.snowflake {
    color: #fff;
    font-size: 0.650em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

@media  (min-width: 701px) {


.BigBanner,
.BigBanner2,
.BigBanner3 {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
}

.big_banner_text {
    position: relative;
    display: block;
    width: 100%; /* Укажите необходимую ширину */
    height: 770px; /* Укажите необходимую высоту */
    overflow: hidden;
}

.big_banner_text img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big_banner_text::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, #080808, transparent 100%),
                linear-gradient(to bottom, #080808, transparent 10%),
                radial-gradient(circle at center, transparent, #080808d7 85%);
    pointer-events: none;
}

.big_banner_text_container {
    position: absolute;
    z-index: 20;
    color: #fff;
    left: 10vh;
    bottom: 35%;
}

.big_banner_text_header, .big_banner_text_header_video {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.big_banner_text_header {
    font-size: 7vh;
    max-width: 85vw;
}

.big_banner_text_description {
    margin-top: 0.5vh;
    overflow: hidden;
    font-size: 20px;
    color: #ccc;
    max-width: 85vw;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

iner, .big_banner_button_mute_container {
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
}

.big_banner_button_container {
    position: absolute;
    display: flex;
    z-index: 20;
    left: 10vh;
    bottom: 28%;
    width: auto;
    height: auto;
}

.watch_buttone {
    border-radius: 50px;
    transition: .3s;
    background: #eee;
    color: #000;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 40px;
    white-space: nowrap;
    text-align: center;
    padding: 10px 24px;
}

.watch_buttone svg {
    margin-right: 5px;
}

.watch_buttone span {
    margin-left: 5px;
    font-weight: 500;
    font-size: 14px;
}

.more_detailed_buttone {
    border-radius: 50px;
    transition: .3s;
    background: #1d1b20;
    color: #ddd;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    white-space: nowrap;
    text-align: center;
    padding: 10px 24px;
    margin-left: 10px;
}

.more_detailed_buttone span {
    margin-left: 5px;
    font-weight: 500;
    font-size: 14px;
}

.big_banner_video {
    position: relative;
    display: block;
    width: 100%; /* Укажите необходимую ширину */
    height: 770px; /* Укажите необходимую высоту */
    overflow: hidden;
}

video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 0px 50px 50px ;
}

.big_banner_text, .big_banner_video {
    transition: opacity 0.5s ease; /* Плавный переход для прозрачности */
    opacity: 1; /* Полностью непрозрачный по умолчанию */
}

.hidden {
    opacity: 0;
}

.big_banner_text_header_video {
    position: absolute;
    z-index: 20;
    color: #fff;
    left: 10vh;
    bottom: 180px;
    font-size: 4vh;
    transition: .3s;
    max-width: 80vw;
}

.big_banner_text_header, .big_banner_text_header_video {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

iner, .big_banner_button_container_video {
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
}

.big_banner_button_container_video {
    position: absolute;
    display: flex;
    z-index: 20;
    left: 10vh;
    bottom: 17%;
    width: auto;
    height: auto;
}

.big_banner_button_mute_container {
    position: absolute;
    right: 10vh;
    bottom: 130px;
    transition: .3s;
}

.big_banner_button_mute_container {
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
}

.catalog_info_watch_button.add_to_favorites {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #1e1d1e;
    fill: #454545;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    margin-left: 10px;
}
.catalog_info_watch_button {
    display: flex;
    justify-self: flex-end;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    font-weight: 600;
    height: 52px;
    border-radius: 100rem;
    white-space: nowrap;
    transition: .3s;
    background: #fff;
    color: #000;
    cursor: pointer;
}

.container_list_catolog {
    position: absolute;
    left: 0px;
    margin: 0px;
    top: 650px;
    width: 100%;
    height: auto;
    background-color: #bd385000;
}

.container {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 15px 0 30px;
    margin-top: 25px;
    position: relative;
}

.list_catalog_header {
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    transition: .3s;
}

.list_catalog_header_text {
    font-size: 19px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 4;
    margin-bottom: 10px;
    color: #eee;
}

.left_button_1 {
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: rotate(180deg);
    position: absolute;
    fill: #ababab;
    transition: .3s;
    opacity: 0;
    cursor: pointer;
    z-index: 20;
    padding: 0 20px;
    background: linear-gradient(90deg,rgba(8,8,8,0),#080808);
    pointer-events: none;
}

.right_button_1 {
    cursor: pointer;
    right: 0;
    position: absolute;
    fill: #ababab;
    transition: .3s;
    opacity: 0;
    z-index: 20;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    pointer-events: none;
    padding: 0 20px;
    background: linear-gradient(90deg,rgba(8, 8, 8, 0.637),#080808);
}

.episode_list._list {
    overscroll-behavior-y: auto;
}

.episode_list {
    margin-left: -236px;
    display: flex;
    flex-direction: row; /* Убедитесь, что элементы списка выстраиваются горизонтально */
    width: calc(100% + 236px);
    overflow-y: hidden; /* Скрыть вертикальную прокрутку */
    overflow-x: auto; /* Включить горизонтальную прокрутку */
    max-width: calc(100% + 236px);
    position: relative;
    padding-bottom: 10px;
    margin-bottom: -5px;
    margin-top: -25px;
    padding-top: 15px;
}

.episode_list::-webkit-scrollbar { 
    display: none; /* Скрыть скроллбар в WebKit браузерах */
} 

.episode_list {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: all;
}

.episode_space {
    height: 172px;
    width: 306px;
    min-width: 306px;
    min-height: 172px;
}

.catalog_item_link {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.catalog_item {
    min-width: 306px;
    max-width: 306px;
    min-height: 172px;
    max-height: 172px;
    border-radius: 10px;
    margin: 10px 10px 10px 0;
    background-size: cover;
    transition: .2s;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.hovered {
    --hover: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    transition: .2s;
    z-index: 3;
}

.catalog_item_description {
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding: 20px 20px 0;
    font-size: 12px;
    opacity: var(--hover);
    transition: .2s;
    margin-bottom: 0;
    color: #d1d1d1;
    overflow: hidden;
}

.catalog_item_container_metadata {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px 5px;
    align-items: center;
}

.catalog_item_name {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    transition: .2s;
    opacity: calc((var(--hover) - 1) * -1);
}

.catalog_item_no_link {
    display: flex;
}
.catalog_item {
    min-width: 306px;
    max-width: 306px;
    min-height: 172px;
    max-height: 172px;
    border-radius: 10px;
    margin: 10px 10px 10px 0;
    background-size: cover;
    transition: .2s;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.episode_list>* {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: all;
}

.catalog_item_tag_container {
    position: absolute;
    display: flex;
    left: 10px;
    top: 10px;
    transition: .2s;
    opacity: calc((var(--hover) - 1) * -1);
}

.catalog_item_description {
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding: 20px 20px 0;
    font-size: 12px;
    opacity: var(--hover);
    transition: .2s;
    margin-bottom: 0;
    color: #d1d1d1;
    overflow: hidden;
}

.catalog_item_container_metadata {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px 5px;
    align-items: center;
}

.catalog_item_tag {
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 10px;
    margin-right: 4px;
}

.catalog_item_container_metadata {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px 5px;
    align-items: center;
}

.catalog_item_name {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    transition: .2s;
    opacity: calc((var(--hover) - 1) * -1);
}

.catalog_item_tag.four_k {
    background: #e65f58;
}

.anime_main_div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.anime_background_image {
    display: flex;
    align-self: center;
    justify-self: flex-start;
    position: absolute;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.anime_body {
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 2;
    padding: 280px 150px 0;
}

.anime_left_body {
    max-width: 302px;
}

.anime_central_body {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 100%;
    max-width: 50%;
}

.anime_right_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    width: -moz-fit-content;
    width: fit-content;
}

.anime_add_to_folders {
    position: relative;
    z-index: 30;
}

.anime_body_poster {
    width: 302px;
    height: 453px;
    background-size: cover;
    background-position: 50%;
    position: relative;
    transition: .3s;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
}

.anime_body_poster_sub {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anime_body_poster_sub_watch {
    border-radius: 50px;
    padding: 6px 12px;
    background: rgba(0,0,0,.82);
    color: #eee;
}

.anime_central_body_title {
    display: flex;
    font-size: 40px;
    font-weight: 500;
}

.anime_central_body_genres {
    display: flex;
    align-items: center;
    color: #d1d1d1;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    max-width: 100%;
    overflow: hidden;
}

.anime_central_body_description {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 400;
    color: #ddd;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.catalog_info_watch_button_container {
    display: flex;
    margin-top: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 15;
    justify-self: flex-end;
    position: relative;
}

.anime_central_body_info {
    margin-top: 25px;
}

.anime_central_body_genres_text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.text_devider {
    max-width: 1px;
    overflow-x: hidden;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 200;
    color: #797979;
}

.catalog_info_watch_button_container_sub2 {
    margin-top: 10px;
}
.catalog_info_watch_button_container_sub1, .catalog_info_watch_button_container_sub2 {
    display: flex;
}

element.style {
    position: relative;
}

.catalog_info_watch_button.add_to_favorites.active {
    fill: var(--accent-color);
}
.catalog_info_watch_button.add_to_favorites {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #1e1d1e;
    fill: #454545;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    margin-left: 10px;
}
.catalog_info_watch_button {
    display: flex;
    justify-self: flex-end;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    font-weight: 600;
    height: 52px;
    border-radius: 100rem;
    white-space: nowrap;
    transition: .3s;
    background: #fff;
    color: #000;
    cursor: pointer;
}

.catalog_info_watch_button.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #1e1d1e;
    fill: #454545;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    margin-left: 10px;
}
.catalog_info_watch_button {
    display: flex;
    justify-self: flex-end;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    font-weight: 600;
    height: 52px;
    border-radius: 100rem;
    white-space: nowrap;
    transition: .3s;
    background: #fff;
    color: #000;
    cursor: pointer;
}

.button_loading.un_active {
    opacity: 0;
}
.button_loading {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 5px;
    top: 0;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: .2s;
}

.watch_button {
    border-radius: 50px;
    transition: .3s;
    background: #eee;
    color: #000;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 40px;
    white-space: nowrap;
    text-align: center;
}
.material_button {
    padding: 10px 24px;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    margin-left: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    transition: .3s;
}

.material_button_text_opacity {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.watch_button svg {
    margin-right: 5px;
}

.watch_button span {
    margin-left: 5px;
}

.anime_central_body_info {
    margin-top: 25px;
}

.anime_central_body_info h2 {
    font-size: 24px;
    font-weight: 500;
}

.anime_info_list {
    margin-top: 15px;
}

.anime_info_el {
    width: 100%;
    padding: 3px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    white-space: nowrap;
}

.anime_info_el_key {
    font-size: 13px;
    color: #aaa;
    min-width: 30%;
    max-width: 30%;
    overflow-x: hidden;
    white-space: pre-wrap;
}

.anime_info_el_value {
    font-size: 13px;
    color: #eee;
    padding-left: 10px;
    white-space: break-spaces;
}

.anime_right_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    width: -moz-fit-content;
    width: fit-content;
}

.search_rank.anime {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.player_page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 140px;
    padding-left: 5vw;
    padding-right: 5vw;
    min-height: calc(100vh - 50px);
    overflow-y: hidden;
    transition: .3s;
}

.edit_settings_pop_up.hidden {
    opacity: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.edit_settings_pop_up.hidden {
    opacity: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.edit_settings_pop_up {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.25);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    z-index: 100;
}
.edit_settings_pop_up {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.25);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    z-index: 100;
}

.player_page_panel {
    position: relative;
    margin: 0 20px;
}
.player_page_menu {
    margin-top: 5px;
    z-index: 5;
    width: 999vw;
    max-width: 380px;
}

.player_page_panel {
    position: relative;
    margin: 0 20px;
}
.player_page_player {
    border-radius: 10px;
    background: linear-gradient(90deg,#222,#333);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: box-shadow 3s,width .3s,height .3s,margin .3s!important;
}

.player_page_info {
    margin-top: 20px;
}

.player_page_player_iframe, 
.player_page_player_iframe2,
.player_page_player_iframe3, 
.player_page_player_iframe4, 
.player_page_player_iframe5, 
.player_page_player_iframe6, 
.player_page_player_iframe7,
.player_page_player_iframe8 {
    width: 100%;
    height: 100%;
    border: none;
    transition: 3s;
}

iframe {
    overflow-clip-margin: content-box !important;
    overflow: clip !important;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.second_menu_content {
    padding: 10px 20px;
    width: auto;
    height: 500px;
}

.second_menu_list {
    margin-top: 5px;
    padding: 10px 20px;
    width: auto;
    height: 500px;
    overflow-y: scroll;
}

.second_menu_title {
    font-size: 14px;
}

.second_menu_var.hp {
    display: flex;
    padding: 15px 25px 15px 15px;
}
.second_menu_var {
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    margin-bottom: 10px;
    border-radius: 9px;
    background: hsla(0,0%,7%,0);
    transition: .3s;
    cursor: pointer;
    width: 100%;
    gap: 10px;
}

.second_menu_select_episode_info {
    display: flex;
    flex-direction: column;
}

.second_menu_select_episode_img {
    width: 120px;
    min-width: 120px;
    max-height: 68px;
    aspect-ratio: 16/9;
    border-radius: 5px;
    background-size: cover;
    background-position: 50%;
    margin-right: 15px;
}

.second_menu_select_episode_info {
    display: flex;
    flex-direction: column;
}

.second_menu_var_title {
    color: #d8d8d8;
    font-weight: 700;
    font-size: 16px;
}

.second_menu_var_description {
    color: #888;
    font-size: 14px;
}

.second_menu_var:hover {
    background-color: #ffffff1c;
}

.player_page_player {
    margin: 0px; 
    box-shadow: rgba(0, 0, 0, 0.667) 0px 0px 150px -22px;
    width: 641.6px; 
    height: 406.09px;
}

.select_page_header {
    align-items: center;
    background: rgba(8,8,8,.95);
    border-bottom: 1px solid #222;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 20px 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}
.to {
    cursor: pointer;
    transition: .3s;
}

.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.select_page_header p {
    font-size: 16px;
    font-weight: 500;
}
:not(body) {
    -webkit-animation: op .2s ease-in-out;
    animation: op .2s ease-in-out;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.anime_fast_button {
    align-items: center;
    background: #eee;
    border: none;
    border-radius: 50px;
    color: #000;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: 10px;
    max-height: 36px;
    outline: none;
    padding: 10px 20px;
    position: relative;
    white-space: nowrap;
}
.anime_fast_button {
    align-items: center;
    background: #eee;
    border: none;
    border-radius: 50px;
    color: #000;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: 10px;
    max-height: 36px;
    outline: none;
    padding: 10px 20px;
    position: relative;
    white-space: nowrap;
}
.anime_additional_information_block_header {
    display: flex;
    padding: 15px 0;
}
.mmm_btn.active {
    background: #eee;
    color: #000;
}
.mmm_btn {
    color: #eee;
    padding: 10px 15px;
    cursor: pointer;
}
.add_to_folder_btn, .mmm_btn {
    border-radius: 50px;
    transition: .2s;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

}






































@media (max-width: 700px) {
    .BigBanner,
.BigBanner2,
.BigBanner3 {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
}

.big_banner_text {
    position: relative;
    display: block;
    width: 100%; /* Укажите необходимую ширину */
    height: 770px; /* Укажите необходимую высоту */
    overflow: hidden;
}

.big_banner_text img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big_banner_text::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, #080808, transparent 100%),
                linear-gradient(to bottom, #080808, transparent 10%),
                radial-gradient(circle at center, transparent, #080808d7 85%);
    pointer-events: none;
}

.big_banner_text_container {
    position: absolute;
    width: 100%;
    z-index: 20;
    color: #fff;
    left: 0;
    bottom: 35%;
}

.big_banner_text_header, .big_banner_text_header_video {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}



.big_banner_text_description {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.5vh;
    overflow: hidden;
    font-size: 20px;
    color: #ccc;
    max-width: 85vw;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: center;
}

iner, .big_banner_button_mute_container {
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
}

.big_banner_button_container {
    position: absolute;
    display: flex;
    z-index: 20;
    left: 10vh;
    bottom: 28%;
    width: auto;
    height: auto;
    display: flex; /* Используем Flexbox */
    flex-direction: column; /* Элементы выстраиваются вертикально */
    align-items: center; /* Центрируем элементы по горизонтали */
    justify-content: center; /* Центрируем элементы по вертикали, если нужно */
    position: absolute;
    z-index: 20;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
}

.watch_buttone {
    border-radius: 50px;
    transition: .3s;
    background: #eee;
    color: #000;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 40px;
    white-space: nowrap;
    text-align: center;
    padding: 10px 24px;
    margin-bottom: 10px;
}

.watch_buttone svg {
    margin-right: 5px;
    
}

.watch_buttone span {
    margin-left: 5px;
    font-weight: 500;
    font-size: 14px;
}

.more_detailed_buttone {
    border-radius: 50px;
    transition: .3s;
    background: #1d1b20;
    color: #ddd;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    white-space: nowrap;
    text-align: center;
    padding: 10px 24px;
    margin-left: 10px;
}

.more_detailed_buttone span {
    margin-left: 5px;
    font-weight: 500;
    font-size: 14px;
}

.big_banner_video {
    position: relative;
    display: block;
    width: 100%; /* Укажите необходимую ширину */
    height: 770px; /* Укажите необходимую высоту */
    overflow: hidden;
}

video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 0px 50px 50px ;
}

.big_banner_text, .big_banner_video {
    transition: opacity 0.5s ease; /* Плавный переход для прозрачности */
    opacity: 1; /* Полностью непрозрачный по умолчанию */
}

.hidden {
    opacity: 0;
}

iner, .big_banner_button_container_video {
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
    
}

.big_banner_button_container_video {
    display: flex; /* Используем Flexbox */
    flex-direction: column; /* Элементы выстраиваются вертикально */
    align-items: center; /* Центрируем элементы по горизонтали */
    justify-content: center; /* Центрируем элементы по вертикали, если нужно */
    position: absolute;
    z-index: 20;
    left: 50%;
    transform: translateX(-50%);
    bottom: 17%;
    width: auto;
    height: auto;
}

.big_banner_button_mute_container {
    position: absolute;
    right: 10vh;
    bottom: 130px;
    transition: .3s;
}

.big_banner_button_mute_container {
    z-index: 20;
    display: none;
    align-items: center;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
}

.catalog_info_watch_button.add_to_favorites {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #1e1d1e;
    fill: #454545;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    margin-left: 10px;
}
.catalog_info_watch_button {
    display: flex;
    justify-self: flex-end;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    font-weight: 600;
    height: 52px;
    border-radius: 100rem;
    white-space: nowrap;
    transition: .3s;
    background: #fff;
    color: #000;
    cursor: pointer;
}

.container_list_catolog {
    position: absolute;
    left: 0px;
    margin: 0px;
    top: 650px;
    width: 100%;
    height: auto;
    background-color: #bd385000;
}

.container {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 15px 0 30px;
    margin-top: 25px;
    position: relative;
}

.list_catalog_header {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    transition: .3s;
}

.list_catalog_header_text {
    font-size: 22px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 4;
    margin-bottom: 10px;
    color: #eee;
}

.left_button_1 {
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: rotate(180deg);
    position: absolute;
    fill: #ababab;
    transition: .3s;
    opacity: 0;
    cursor: pointer;
    z-index: 20;
    padding: 0 20px;
    background: linear-gradient(90deg,rgba(8,8,8,0),#080808);
    pointer-events: none;
}

.right_button_1 {
    cursor: pointer;
    right: 0;
    position: absolute;
    fill: #ababab;
    transition: .3s;
    opacity: 0;
    z-index: 20;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    pointer-events: none;
    padding: 0 20px;
    background: linear-gradient(90deg,rgba(8, 8, 8, 0.637),#080808);
}

.episode_list._list {
    overscroll-behavior-y: auto;
}

.episode_list {
    margin-left: -100px;
    display: flex;
    flex-direction: row; /* Убедитесь, что элементы списка выстраиваются горизонтально */
    width: calc(100% + 95px);
    overflow-y: hidden; /* Скрыть вертикальную прокрутку */
    overflow-x: auto; /* Включить горизонтальную прокрутку */
    max-width: calc(100% + 95px);
    position: relative;
    padding-bottom: 10px;
    margin-bottom: -5px;
    margin-top: -25px;
    padding-top: 15px;
}

.episode_list::-webkit-scrollbar { 
    display: none; /* Скрыть скроллбар в WebKit браузерах */
} 

.episode_list {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: all;
}

.episode_space {
    height: 187.5px;
    width: 125px;
    min-width: 125px;
    min-height: 187.5px;
}

.catalog_item_link {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.catalog_item {
    height: 187.5px;
    width: 125px;
    min-width: 125px;
    min-height: 187.5px;
    border-radius: 10px;
    margin: 10px 10px 10px 0;
    background-size: cover;
    transition: .2s;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.hovered {
    --hover: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    transition: .2s;
    z-index: 3;
}

.catalog_item_description {
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding: 20px 20px 0;
    font-size: 12px;
    opacity: var(--hover);
    transition: .2s;
    margin-bottom: 0;
    color: #d1d1d1;
    overflow: hidden;
}

.catalog_item_container_metadata {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px 5px;
    align-items: center;
}

.catalog_item_name {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    transition: .2s;
    opacity: calc((var(--hover) - 1) * -1);
}

.catalog_item_no_link {
    display: flex;
}

.episode_list>* {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: all;
}

.catalog_item_tag_container {
    position: absolute;
    display: flex;
    left: 10px;
    top: 10px;
    transition: .2s;
    opacity: calc((var(--hover) - 1) * -1);
}

.catalog_item_description {
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding: 20px 20px 0;
    font-size: 12px;
    opacity: var(--hover);
    transition: .2s;
    margin-bottom: 0;
    color: #d1d1d1;
    overflow: hidden;
}

.catalog_item_container_metadata {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px 5px;
    align-items: center;
}

.catalog_item_tag {
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 10px;
    margin-right: 4px;
}

.catalog_item_container_metadata {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px 5px;
    align-items: center;
}

.catalog_item_name {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    transition: .2s;
    opacity: calc((var(--hover) - 1) * -1);
}

.catalog_item_tag.four_k {
    background: #e65f58;
}

.anime_main_div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.anime_background_image {
    display: flex;
    align-self: center;
    justify-self: flex-start;
    position: absolute;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.anime_body {
    width: 100%;
    justify-content: center;
    z-index: 2;
}

.anime_left_body {
    max-width: 302px;
}

.anime_central_body {
    position: absolute;
    top: 400px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}

.anime_right_body {
    position: relative;
    top: 365px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
}

.anime_add_to_folders {
    position: relative;
    z-index: 30;
}

.anime_body_poster {
    height: 351px;
    width: 248px;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
}

.anime_body_poster_sub {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anime_body_poster_sub_watch {
    border-radius: 50px;
    padding: 6px 12px;
    background: rgba(0,0,0,.82);
    color: #eee;
}

.anime_central_body_title {
    display: fixed;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    max-width: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.anime_central_body_genres {
    display: fixed;
    align-items: center;
    color: #d1d1d1;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.anime_central_body_description {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 400;
    color: #ddd;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow-y: hidden;
    text-overflow: ellipsis;
    text-align: center;
    max-width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.catalog_info_watch_button_container {
    display: flex;
    margin-top: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 15;
    justify-self: flex-end;
    position: relative;
}

.anime_central_body_info {
    margin-top: 25px;
}

.anime_central_body_genres_text {
    display: block;
    text-align: center;
}

.text_devider {
    max-width: 1px;
    overflow-x: hidden;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 200;
    color: #797979;
}

.catalog_info_watch_button_container_sub2 {
    margin-top: 10px;
}
.catalog_info_watch_button_container_sub1, .catalog_info_watch_button_container_sub2 {
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

element.style {
    position: relative;
}

.catalog_info_watch_button.add_to_favorites.active {
    fill: var(--accent-color);
}
.catalog_info_watch_button.add_to_favorites {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #1e1d1e;
    fill: #454545;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    margin-left: 10px;
}
.catalog_info_watch_button {
    display: flex;
    justify-self: flex-end;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    font-weight: 600;
    height: 52px;
    border-radius: 100rem;
    white-space: nowrap;
    transition: .3s;
    background: #fff;
    color: #000;
    cursor: pointer;
}

.catalog_info_watch_button.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #1e1d1e;
    fill: #454545;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    margin-left: 10px;
}
.catalog_info_watch_button {
    display: flex;
    justify-self: flex-end;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    font-weight: 600;
    height: 52px;
    border-radius: 100rem;
    white-space: nowrap;
    transition: .3s;
    background: #fff;
    color: #000;
    cursor: pointer;
}

.button_loading.un_active {
    opacity: 0;
}
.button_loading {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 5px;
    top: 0;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: .2s;
}

.watch_button {
    border-radius: 50px;
    transition: .3s;
    background: #eee;
    color: #000;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 40px;
    white-space: nowrap;
    text-align: center;
}
.material_button {
    padding: 10px 24px;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    margin-left: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    transition: .3s;
}

.material_button_text_opacity {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.watch_button svg {
    margin-right: 5px;
}

.watch_button span {
    margin-left: 5px;
}

.anime_central_body_info {
    margin-top: 25px;
    display: fixed;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.anime_central_body_info h2 {
    font-size: 24px;
    font-weight: 500;
}

.anime_info_list {
    margin-top: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.anime_info_el {
    width: 100%;
    padding: 3px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    white-space: nowrap;
}

.anime_info_el_key {
    font-size: 13px;
    color: #aaa;
    min-width: 30%;
    max-width: 30%;
    overflow-x: hidden;
    white-space: pre-wrap;
}

.anime_info_el_value {
    font-size: 13px;
    color: #eee;
    padding-left: 10px;
    white-space: break-spaces;
}

.search_rank.anime {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.player_page {
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-top: 70px;
    min-height: calc(100vh - 50px);
    overflow-y: hidden;
    transition: .3s;
}

.edit_settings_pop_up.hidden {
    opacity: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.edit_settings_pop_up.hidden {
    opacity: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.edit_settings_pop_up {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.25);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    z-index: 100;
}
.edit_settings_pop_up {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.25);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    z-index: 100;
}

.player_page_panel {
    position: relative;
    margin: 0 20px;
}
.player_page_menu {
    margin-top: 5px;
    z-index: 5;
    width: 999vw;
    max-width: 380px;
}

.player_page_panel {
    position: relative;
    margin: 0 20px;
}
.player_page_player {
    border-radius: 10px;
    background: linear-gradient(90deg,#222,#333);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: box-shadow 3s,width .3s,height .3s,margin .3s!important;
}

.player_page_info {
    margin-top: 20px;
}

.player_page_player_iframe, 
.player_page_player_iframe2,
.player_page_player_iframe3, 
.player_page_player_iframe4, 
.player_page_player_iframe5, 
.player_page_player_iframe6, 
.player_page_player_iframe7,
.player_page_player_iframe8 {
    width: 100%;
    height: 100%;
    border: none;
    transition: 3s;
}

iframe {
    overflow-clip-margin: content-box !important;
    overflow: clip !important;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.second_menu_content {
    padding: 10px 20px;
    width: auto;
    height: 380px;
}

.second_menu_list {
    margin-top: 5px;
    padding: 10px 20px;
    width: auto;
    height: 380px;
    overflow-y: scroll;
}

.second_menu_title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.second_menu_var.hp {
    display: flex;
    padding: 15px 25px 15px 15px;
}
.second_menu_var {
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    margin-bottom: 10px;
    border-radius: 9px;
    background: hsla(0,0%,7%,0);
    transition: .3s;
    cursor: pointer;
    width: 100%;
    gap: 10px;
}

.second_menu_select_episode_info {
    display: flex;
    flex-direction: column;
}

.second_menu_select_episode_img {
    width: 120px;
    min-width: 120px;
    max-height: 68px;
    aspect-ratio: 16/9;
    border-radius: 5px;
    background-size: cover;
    background-position: 50%;
    margin-right: 15px;
}

.second_menu_select_episode_info {
    display: flex;
    flex-direction: column;
}

.second_menu_var_title {
    color: #d8d8d8;
    font-weight: 700;
    font-size: 16px;
}

.second_menu_var_description {
    color: #888;
    font-size: 14px;
}

.second_menu_var:hover {
    background-color: #ffffff1c;
}

.player_page_player {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px; 
    box-shadow: rgba(0, 0, 0, 0.667) 0px 0px 150px -22px;
    width: 394.2px;
    height: 228.89px;
}
    video {
        border-radius: 0px 0px 10px 10px;
    }
    .big_banner_video::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to top, #080808, transparent 100%),
                    linear-gradient(to bottom, #080808, transparent 10%),
                    radial-gradient(circle at center, transparent, #080808d7 85%);
        pointer-events: none;
    }

    .home_page_trailer_info-header {
        display: flex;
        flex-direction: column;
        z-index: 20;
        color: #fff;
        left: 50%;
        transform: translateX(-50%);
        bottom: 100px;
        position: relative;
        font-size: 4vh;
        transition: .3s;
        width: 100%;
    }

    .home_page_trailer_info {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 20;
        color: #fff;
        left: 50%;
        transform: translateX(-50%);
        bottom: 240px;
        font-size: 4vh;
        transition: .3s;
        max-width: 375px;
    }
    
    .title-golos {
        color: var(--home_page_trailer_info-color);
        font-size: 30px;
        font-weight: 500;
        padding: 0 15px;
        text-align: center;
    }

    .select_page_header {
        align-items: center;
        background: rgba(8,8,8,.95);
        border-bottom: 1px solid #222;
        display: flex;
        justify-content: space-between;
        left: 0;
        padding: 20px 25px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
    }

    svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
        overflow: visible;
        box-sizing: content-box;
    }
    .to {
        cursor: pointer;
        transition: .3s;
    }
    
    .svg-inline--fa {
        display: var(--fa-display, inline-block);
        height: 1em;
        overflow: visible;
        vertical-align: -0.125em;
    }

    .select_page_header p {
        font-size: 16px;
        font-weight: 500;
    }
    :not(body) {
        -webkit-animation: op .2s ease-in-out;
        animation: op .2s ease-in-out;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .anime_fast_button {
        align-items: center;
        background: #eee;
        border: none;
        border-radius: 50px;
        color: #000;
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
        margin-top: 10px;
        max-height: 36px;
        outline: none;
        padding: 10px 20px;
        position: relative;
        white-space: nowrap;
    }
    .anime_additional_information_block_header {
        display: flex;
        padding: 15px 0;
    }
    .mmm_btn.active {
        background: #eee;
        color: #000;
    }
    .mmm_btn {
        color: #eee;
        padding: 10px 15px;
        cursor: pointer;
    }
    .add_to_folder_btn, .mmm_btn {
        border-radius: 50px;
        transition: .2s;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}